.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 100%;
  height: 54px;
  background: var(--color-granite);
  color: var(--color-foam);
  margin-top: 2rem;
}
